extends layout

block content

  h1= title
  p Welcome to #{title}
  div(style="height: 250px;")#chart
  
  - var str = JSON.stringify(data);
  
  script.
    Morris.dohnut({
    element: 'chart',
    data: #{str}
    });
