extends layout

block content

  h1= title
  if(!user)
    p please log in!
  else
    p Welcome to #{title}
  div#gridCont
    scg#grid
  table#value.table-striped
    
  
block scripts
  script.
    var uid = d3.select("#uid").attr("value");
    grid.setup('grid','value','uid')
    if(typeof parseURLParams(document.URL) !== 'undefined'){
    
    var p = parseURLParams(document.URL);
    
    grid.updateGrid(p['lat'],p['lon']);
    }
    else if (navigator.geolocation)
    {
       navigator.geolocation.getCurrentPosition(function(position){
       grid.updateGrid(position.coords.latitude,position.coords.longitude);
       });
    }
    else{
       console.log("Geolocation is not supported by this browser.");
    }
