extends layout

block content

  h1= title
  p Welcome to #{title}
  div#gridCont
    scg#grid
  table#value.table-striped
    
  
block scripts
  script.
    var uid = d3.select("#uid").attr("value");
    grid.setup('grid','value','uid')
    if(parseURLparams(document.URL)!={}){
    var p = parseURLparams(document.URL);
    
    grid.updateGrid(p['lat'],pp['lon']);
    }
    else if (navigator.geolocation)
    {
       navigator.geolocation.getCurrentPosition(function(position){
       grid.updateGrid(position.coords.latitude,position.coords.longitude);
       });
    }
    else{
       console.log("Geolocation is not supported by this browser.");
    }
