extends layout

block content

  h1= title
  p Welcome to #{title}
  div(style="height: 250px;")#chart
  
  script.
    Morris.dohnut({
    element: 'chart',
    data: jQuery.parseJSON(#{data})
    });
